@model AMS.Areas.DashBoard.Models.ViewModels.AccomodationPackageListingModel



<div class="row">
    <div class="col col-lg-12">
        <h2>Accomodation packages</h2>
        <hr />
    </div>

</div>


<div class="row mb-3">
    <div class="col col-lg-12">
        <form>
            <div class="input-group">

                <input type="text" name="searchTerm" class="form-control" placeholder="Search Here" value="@Model.SearchTerm" >
                @if(Model.accomodationTypes != null && Model.accomodationTypes.Count() > 0)

                {


                    <select name="AccomodationTypeID" class="form-control">
                        <option value="0">
                              select type
                        </option>
                        @foreach (var item in Model.accomodationTypes)
                        {
                            <option value="@item.ID"  @(item.ID== Model.AccomodationTypeID ? "selected" :string.Empty)>@item.Name</option>
                        }
                    </select>
                }
         
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search m-2"></i>Search</button>
                    <a href="@Url.Action("index","AccomodationPackages")" class="btn btn-outline-secondary"><i class="fas fa-ban mr-2"></i>Reset</a>

                    <button data-href="@Url.Action("Action","AccomodationPackages")" class=" data-btn btn btn-outline-success" type="button" data-toggle="modal" data-target="#ActionModal"><i class="fas fa-plus mr-2"></i>Create</button>
                </div>


            </div>
        </form>
    </div>

    @{
        Html.RenderPartial("_Listing", Model);
     }



</div>

<!-- Modal -->
<div class="modal fade" id="ActionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">

    </div>
</div>
<script>
    $(".data-btn").click(function () {
        $.ajax({
            url: $(this).attr("data-href"),

        }).done(function (response) {
            $("#ActionModal .modal-dialog").html(response);



        });
    });
</script>

